@CHARSET "UTF-8";
.more,.modify-right,.page-button,.handle-right{
	background-color:#F5F5F9;
	height:27px;
	border-width:1px;
	margin-right:5px;
	border-style: ridge;
	font-size:12px;
		
}
	
#upload {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.auth-box .right{
	
	background-image: url("../assets/img/login.png");
	background-size:100% 85%;
}
.navbar-default .brand{
	
	padding:9px 39px;
}
#wrapper .sidebar{
	
	
	width:220px;
}
#wrapper .main{
	
	width:calc(100% - 220px);
}
.statustype{
	
	height:34px;
	
}
.statustype ul{
	
	height:34px;
	line-height:34px;
}
.statustype ul li{
	
	
	list-style:none;
    display: block;
    float: left;
	margin-right:4px;	
}