<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace是接口的全类名 -->
<mapper namespace="com.dorm.building.dao.BuildingMapper">


	<resultMap type="com.dorm.building.model.Building" id="BuildingResultMap">
		<id property="bid" column="bid" />
		<result property="bname" column="bname" />
		<result property="attribute" column="attribute" />
		<result property="location" column="location" />
		<result property="description" column="description" />
		<result property="imageinfo" column="imageinfo" />
		<result property="managernumber" column="managernumber" />
		<!-- ofType指定dormadmins集合中的对象类型 -->
		<collection property="dormadmins" ofType="com.dorm.dormadmin.model.DormAdmin">
			<id property="daid" column="daid" />
			<result property="dapassword" column="dapassword" />
			<result property="role" column="role" />
			<result property="truename" column="truename" />
			<result property="sex" column="sex" />
			<result property="workphone" column="workphone" />
			<result property="workstate" column="workstate" />
			<result property="introduction" column="introduction" />
		</collection>
		<!-- ofType指定dormitories集合中的对象类型 -->
		<collection property="dormitories" ofType="com.dorm.dormitory.model.Dormitory">
			<id property="did" column="did" />
			<result property="dno" column="dno" />
			<result property="category" column="category" />
			<result property="capacity" column="capacity" />
			<result property="occupied" column="occupied" />
			<result property="honor" column="honor" />
			<result property="picdescription" column="picdescription" />
			<result property="textdescription" column="textdescription" />
		</collection>
	</resultMap>

	<!--查询所有楼宇 -->
	<select id="queryBuilding" resultMap="BuildingResultMap">
		SELECT * FROM BUILDING B
			LEFT JOIN DORMADMIN D 
		ON B.BID = D.BUILDING_ID
	</select>
<!--  	<select id="queryByDistr" resultType="java.util.Map"> -->
<!--  		SELECT BID,BNAME,attribute,* FROM BUILDING  -->
<!-- 	</select> -->
	<!--查询指定楼宇 -->
	<select id="getBuilding" resultMap="BuildingResultMap">
		SELECT * FROM BUILDING B 
		<if test="listSize!=0">
			RIGHT JOIN DORMADMIN D ON B.BID=D.BUILDING_ID
		</if>
		  WHERE 1=1 AND B.BID = #{bid}
	</select>
	

	<!--添加指定楼宇 -->
	<insert id="saveBuilding" parameterType="com.dorm.building.model.Building">
		insert into BUILDING(bid,bname,attribute,location,description,imageinfo,managernumber) 
		values (#{bid},#{bname},#{attribute},#{location},#{description},#{imageinfo},#{managernumber})
	</insert>
	<update id="modifyBuilding" parameterType="com.dorm.building.model.Building">
		UPDATE BUILDING SET 
		BNAME=#{bname},ATTRIBUTE=#{attribute},LOCATION=#{location},
		DESCRIPTION=#{description},IMAGEINFO=#{imageinfo},MANAGERNUMBER=#{managernumber}
		WHERE BID = #{bid}	
	</update>
	<!--删除指定楼宇 -->
	<delete id="deleteBuilding" parameterType="int">
		DELETE FROM BUILDING WHERE bid=#{bid}
	</delete>
	<select id="getDormAdminNumber" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM DORMADMIN WHERE BID = #{bid}
	</select>
	<select id="getBuildingId" resultType="java.lang.Integer">
		SELECT BID FROM BUILDING GROUP BY BID ORDER BY BID ASC
	</select>
	<select id="getDormAdmins" parameterType="int" resultType="com.dorm.dormadmin.model.DormAdmin">
		SELECT 
			D.daid,
			D.truename,
			D.sex,
			D.workstate
		FROM DORMADMIN D
		WHERE building_id = #{bid}
	</select>

</mapper>