<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">


	<!-- 自动扫描该包，SpringMVC会将包下用了@controller注解的类注册为Spring的controller -->
	<context:component-scan base-package="com.dorm.admin.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.dormadmin.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.student.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.building.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.dormitory.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.repair.controller"></context:component-scan>
	<context:component-scan base-package="com.dorm.visitor.controller"></context:component-scan>
	<!-- 设置默认配置方案 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 使用默认的Servlet来响应静态文件 -->
	<mvc:default-servlet-handler/>
	<!-- 视图解析器 -->
	<bean id="internalResourceViewResolver" 
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	
		<!--前缀 -->
		<property name="prefix">
			<value>/jsp/</value>
		</property>
		<!--后缀 -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- 配置json数据 -->
	<bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="mappingJackson2HttpMessageConverter" />  
            </list>  
        </property>  
    </bean>  
    <bean id="mappingJackson2HttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
        <property name="supportedMediaTypes">  
            <list>  
                <value>text/html;charset=UTF-8</value>  
                <value>text/json;charset=UTF-8</value>  
                <value>application/json;charset=UTF-8</value>  
            </list>  
        </property>  
    </bean>
	<!-- 媒体解析器 -->
	<bean id="multipartResolver"     
       class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 上传文件的最大限制  -->
		<property name="maxUploadSize" value="10485760"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>

</beans>